/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
@import url(variables.css);
@import url(dark.css);
@import url(light.css);
@import url(../fonts/fonts.css);

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  background-image: var(--cover-image);
  background-position: center;
  background-repeat: cover;
  background-attachment: fixed;
}

a {
  text-shadow: 4px 4px 0px var(--accent-color);
}

a:hover {
  text-decoration: underline var(--accent-color);
}

a:focus-visible {
  border: 1px solid var(--text-color);
}

.header {
  background-image: var(--cover-image);
  background-repeat: round;
  display: grid;
  align-items: start;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  position: relative;
}

.header::before {
  content: "";
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
  margin-top: 20px;
  margin-right: 20px;
  position: absolute;
  left: 979px;
}

.header::after {
  content: "";
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
  margin-bottom: 20px;
  margin-left: 20px;
  top: 685px;
  position: absolute;
}

.header__theme-menu {
  grid-column-start: 2;
  grid-column-end: 4;
}

.header__theme-menu-list {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.header__theme-menu-button {
  color: var(--accent-color);
  font-family: 'IBM Plex Mono';
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  background-color: transparent;
  border: none;
  text-transform: lowercase;
  margin-right: 10px;
  cursor: pointer;
}

.header__theme-menu-button_active {
  border: 1px solid var(--accent-color);
  pointer-events: none; 
}

.header__theme-menu-button:hover {
  border: 1px solid #FF007066;
}

.header__theme-menu-button:focus-visible {
  text-decoration: underline var(--accent-color);

}

.decoration {
  color: var(--title-color);
  font-family: 'IBM Plex Mono';
  font-size: 157px;
  font-weight: 700;
  line-height: 129.53px;
  text-align: left;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 2;
  margin-bottom: 114px;
  margin-left: 5px;
  text-shadow: 4px 4px 0px #FF0070;
}

.header_title {
  background-color: var(--accent-color);
  color: var(--accent-text-color);
  font-family: 'IBM Plex Mono';
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
  text-align: left;
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 3;
  margin-right: 20px;
}

.content {
  display: grid;
  row-gap: 80px;
  margin-top: 50px;
  margin-right: 20px;
  margin-left: 20px;
}

.why {
  display: grid;
  align-items: start;
  grid-template-columns: repeat(3, 1fr);
}

.section_body {
  display: grid;
  align-items: start;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 20px;
  margin-top: 20px;
}

.section_title {
  width: 315px;
  height: 47px;
  color: var(--accent-color);
  font-family: 'IBM Plex Mono';
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
  text-align: left;
}

.section_title:not(:first-of-type) {
  margin-bottom: 20px;
}

.how {
  display: grid;
  align-items: start;
  grid-template-columns: repeat(3, 1fr);
}

.paragraph_block {
  grid-column-start: 2;
  grid-column-end: 4;
}

.content_title {
  background-color: var(--accent-color);
  color: var(--accent-text-color);
  font-family: 'IBM Plex Mono';
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
  text-align: left;
}

.paragraph_title {
  background-color: var(--accent-color);
  color: var(--accent-text-color);
  font-family: 'IBM Plex Mono';
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
  text-align: left;
  grid-column-start: 2;
  grid-column-end: 4;
  margin-bottom: 20px;
}

.text_title {
  background-color: var(--accent-color);
  color: var(--accent-text-color);
  font-family: 'IBM Plex Mono';
  font-size: 18px;
  font-weight: 400;
  line-height: 23.4px;
  text-align: left;
  margin-bottom: 10px;
}

.text {
  color: var(--text-color);
  font-family: 'IBM Plex Mono';
  font-size: 18px;
  font-weight: 400;
  line-height: 23.4px;
  text-align: left;
  grid-column-start: 2;
  grid-column-end: 4;
  margin-bottom: 20px;
}

.pictures {
  margin-bottom: 60px;
}

.panno {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.gorizontal_pic {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.vertical_s_pic {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.vertical_m_pic {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 4;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.center_pic {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bottom_pic {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer {
  display: grid;
  justify-items: center;
}

.footer_decoration {
  margin-top: 319px;
  margin-bottom: 319px;
}

@media (min-width: 668px) and (max-width: 768px) {
  .decoration {
    font-size: 120px;
    line-height: 99px;
    margin-bottom: 162px;
    text-wrap: nowrap;
  }

  .header__theme-menu {
    grid-column-start: 4;
  }
  
  .header__theme-menu-list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
  }

  .section_title {
    width: 236px;
    height: 70px;
  }

  .section_body {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (min-width: 375px) and (max-width: 668px) {
  .decoration {
    font-size: 116px;
    line-height: 95.7px;
    margin-bottom: 55px;
    margin-left: 10px;
  }

  .header__theme-menu {
    grid-column-start: 4;
  }

  .header__theme-menu-list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
  }

  .header_title {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 3;
    margin-right: 10px;
    margin-left: 10px;
  }

  .content {
    display: grid;
    grid-template-columns: repeat(1, 365px);
    margin-right: 10px;
    margin-left: 10px;
  }

  .why {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  .section_title {
    margin-bottom: 20px;
  }

  .section_body {
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 20px;
  }

  .paragraph_title {
    margin-bottom: 10px;
  }

  .how {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .panno {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .footer_decoration {
    margin-top: 285px;
    margin-bottom: 285px;
  }
}